bower_components
node_modules
dist
public
schemaprototypes
testdata
login*

*/bower_components
*/node_modules
*/dist
*/public

/bower_components/*
/node_modules/*
/dist/*
/public/*
/server/bin/*.pem
/server/bin/*.key
config.js
.tmp
*.log
server/config.js
