bower_components
node_modules
dist
public
schemaprototypes
testdata

*/bower_components
*/node_modules
*/dist
*/public

/bower_components/*
/node_modules/*
/dist/*
/public/*
/bin/*.pem
/bin/*.key

.tmp
*.log
