
<div class="container" ng-controller="AboutController">
    <!--div class="row">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="index.html">Home</a></li>
               <li class="active">About Us</li>
           </ul>
        </div>
        <div class="col-xs-12">
           <h3>About Us</h3>
           <hr>
        </div>
    </div-->

    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            <h2>Our History</h2>
            <p>Started in 2016, with an ideation report for a coursera course from <em>Honkong University</em>, is the platform growing and growing and became the state of a valuable player in open source based self managed platform genre.</p>
            <div class="well">
                <blockquote>
                    <p>Place your advertizers with a consistent Strategy to earn maximum of value.</p>
                    <footer>Luechtdiode,
                    <cite title="Source Title">The Wit and Wisdom of Luechtdiode, A. Weston, Diversion Books, 2014</cite></footer>
                </blockquote>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facts At a Glance</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Started</dt>
                        <dd>1. Aug. 2016</dd>
                        <dt>Major Stake Holder</dt>
                        <dd>interpolar.ch</dd>
                        <dt>Last Year's Turnover</dt>
                        <dd>$1,250,375</dd>
                        <dt>Sponsors</dt>
                        <dd>{{sponsors}}</dd>
                        <dt>Clubs</dt>
                        <dd>{{clubs}}</dd>
                        <dt>Competitions</dt>
                        <dd>{{competitions}}</dd>
                   </dl>
                </div>
            </div>
        </div>
    </div>
</div>
