<div class="col-xs-12"><h4>Club Details</h4></div>
<div class="col-xs-12 col-sm-6">
  <div class="form-group" ng-class="{ 'has-error' : EditForm.name.$error.required && !EditForm.name.$pristine }">
      <label for="name">Club name</label>
      <input type="text" class="form-control input-sm" id="name" name="name" placeholder="Name of the Club" ng-model="registration.name" required/>
      <span ng-show="EditForm.name.$error.required && !EditForm.$pristine"
      class="help-block">The name of your Club is required.</span>
  </div>
  <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control input-sm" id="label" name="label" placeholder="Label" ng-model="registration.label">
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="form-group" ng-class="{ 'has-error' : EditForm.kind.$error.required && !EditForm.kind.$pristine }">
      <label for="kind">Kind</label>
      <input type="text" class="form-control input-sm" id="kind" name="kind" placeholder="Kind" ng-model="registration.kind" required/>
      <span ng-show="EditForm.kind.$error.required && !EditForm.$pristine"
      class="help-block">Specify your Club with some Properties as comma separated values.</span>
  </div>
  <div class="form-group">
      <label for="homepage">Homepage</label>
      <input type="text" class="form-control input-sm" id="homepage" name="homepage" placeholder="Homepage" ng-model="registration.homepage">
  </div>
</div>
<div class="col-xs-12">
  <div class="form-group" ng-class="{ 'has-error' : EditForm.description.$error.required && !EditForm.description.$pristine }">
      <label for="description">Description</label>
      <textarea rows="12" class="form-control input-sm" id="description" name="description" placeholder="Description" ng-model="registration.description" required></textarea>
      <span ng-show="EditForm.description.$error.required && !EditForm.$pristine"
      class="help-block">Describe Your Club with some sentences.</span>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class="form-group">
    <label class="btn btn-social-icon btn-google-plus"  for="googleplushandle"><i class="fa fa-google-plus"></i></label>
    <input type="text" class="form-control input-sm" id="googleplushandle" name="googleplushandle" placeholder="Google+ ID" ng-model="registration.googleplushandle"/>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class="form-group">
      <label class="btn btn-social-icon btn-facebook" for="facebookhandle"><i class="fa fa-facebook"></i></label>
      <input type="text" class="form-control input-sm" id="facebookhandle" name="facebookhandle" placeholder="Facebook-ID" ng-model="registration.facebookhandle"/>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class="form-group">
      <label class="btn btn-social-icon btn-linkedin" for="linkedinhandle"><i class="fa fa-linkedin"></i></label>
      <input type="text" class="form-control input-sm" id="linkedinhandle" name="linkedinhandle" placeholder="LinkedIn-ID" ng-model="registration.linkedinhandle"/>
  </div>
</div>
<div class="col-xs-12 col-sm-3">
  <div class="form-group">
      <label class="btn btn-social-icon btn-twitter" for="twitterhandle"><i class="fa fa-twitter"></i></label>
      <input type="text" class="form-control input-sm" id="twitterhandle" name="twitterhandle" placeholder="Twitter-Handle" ng-model="registration.twitterhandle"/>
  </div>
</div>
<div class="col-xs-12 col-sm-3">
  <div class="form-group">
      <label class="btn btn-social-icon btn-youtube" for="youtubehandle"><i class="fa fa-youtube"></i></label>
      <input type="text" class="form-control input-sm" id="youtubehandle" name="youtubehandle" placeholder="Youtube-Channel" ng-model="registration.youtubehandle"/>
  </div>
</div>
