<div class="container">
    <div class="row row-content">
      <div class="col-xs-12">
        <div class="">
            <h3>Edit {{registration.company}} Sponsor</h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form name="EditForm" ng-submit="doSave()" novalidate>
              <div ng-include="'views/sponsor-form.html'"></div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-sm pull-right" ui-sref="app.sponsors">Cancel</button>
                <button type="submit" class="btn btn-info btn-sm pull-right" ng-disabled="EditForm.$invalid">Save</button> <!--ng-disabled="EditForm.$invalid"-->
              </div>
            </form>
        </div>
    </div>
  </div>
</div>
