<ion-view view-title="Competitions">
  <div class="tabs-striped tabs-color-royal">
   <ul class="tabs">
       <li ng-class="{active:isSelected(1)}" class="tab-item">
           <a ng-click="select(1)">All</a></li>
       <li ng-class="{active:isSelected(2)}" class="tab-item">
           <a ng-click="select(2)">KuTu</a></li>
       <li ng-class="{active:isSelected(3)}" class="tab-item">
           <a ng-click="select(3)">GeTu</a></li>
       <li ng-class="{active:isSelected(4)}" class="tab-item">
           <a  ng-click="select(4)">Others</a></li>
   </ul>
 </div>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="competition in competitions | filter:filtText:cmpCompetition | orderBy: 'dates'"
                href="#/app/competitiondetails/{{competition._id}}" class="item-thumbnail-left">
        <img ng-src="{{baseURL+competition.image}}">
        <h2>{{competition.name}}
         <span style="font-size:75%">{{competition.kind}}</span>
        <span class="badge badge-assertive">{{competition.location}}</span></h2>
        <p>{{competition.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="addFavorite({{competition._id}})">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
