<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <p>
          <h2>Our Address</h2>
          121, Clear Water Bay Road</br>
          Clear Water Bay, Kowloon</br>
          HONG KONG</br>
          <i class="icon ion-android-call">
          </i>:&nbsp<a href="tel:+852 1234 5678">+852 1234 5678</a></br>
          <i class="icon ion-printer"></i>
          :&nbsp<a href="tel:+852 8765 4321">+852 8765 4321</a></br>
          <i class="icon ion-android-mail"></i>
          :&nbsp<a href="mailto:confusion@food.net">confusion@food.net</a></br>
        </p>
        </br>
      </div>
      <div class="button-bar">
        <a class="button icon-left ion-android-call button-positive"
           href="tel:+852 1234 5678">Call</a>
        <a class="button icon-left ion-social-skype button-calm">Skype</a>
        <a class="button icon-left ion-android-mail button-balanced"
           href="mailto:confusion@food.net">Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>
